c Random 2-CNF over 10 variables and 10 clauses
c Generated with `cnfgen`
c (C) 2012-2019 Massimo Lauria <massimo.lauria@uniroma1.it>
c https://massimolauria.net/cnfgen
c
c COMMAND LINE: cnfgen randkcnf 2 10 10
c
p cnf 8 10
-3 7 0
1 2 0
5 8 0
7 -10 0
3 7 0
-2 5 0
5 -8 0
1 -8 0
-4 10 0
8 -10 0
